<footer style="background-color: rgb(29, 29, 29);width: 100%;height: 154px;">
  <div class="container">
    <h6 class="text-center text-white pt-5">Powered By</h6>
    <p class="text-center text-white" style="font-size: 20px;"><span style="color: aquamarine;">m</span>aves.</p>
  </div>
</footer>